body,
html,
*{
    font-size:10px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #FFA500;
    font-family: "martian mono";
}
.card{
    width:23%;
    height:30vh;
    background-color: #Fce205;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin:1.5rem 2;
    box-shadow: 7px 7px 7px #000000;
}
.card-image{
    width:100%;
}
.card-title{
    font-size: 2.2rem;
    background-color: #deb887;
}
.card-descrip{
    font-size: 2rem;
    background-color: #deb887;
}
.container{
    display: flex;
    flex-wrap: wrap;
 margin: 1rem auto;
 justify-content: space-around;
 width: 80vw;
 align-items: center;
}
.header{
    text-align: center;
    font-size: 40px;
    background-color: #F9e29c ; 
    margin: 2% 20%;
    border-radius: 6px;
    padding: 1%  ;
    box-shadow: 7px 7px 7px #000000;
}